body {
	font-family: arial;
	font-size: 100%
}
img {
    display: block;
    margin: 0 auto;
}
h1 {
	color: #CCAE63;
	text-align: center;
}
/*p.line {
	background-color: #CCAE63;
	padding: 10px;
}*/
p.navbar {
	text-align: center;
	font-size: 150%;
	font-family: arial;
	font-weight: bold;
	background-color: black;
	padding: 10px;
}
a.navbar:link, a.navbar:visited {
	background-color: black;
	color: #CCAE63;
	padding: 10px;
	text-decoration: none;
}
a.navbar:hover, a.navbar:active {
	background-color: #404040;
	padding: 10px;
}
a.selected:link, a.selected:visited {
	background-color: gray;
	color: white;
}
img.SA {
	float: left;
	margin-left: 25%;
}
table.overview, tr.overview, td.overview {
	font-family: arial;
	font-size: 175%;
	padding: 20px;
}
td.speed {
	font-size: 225%;
}