<!doctype html>

<html>
<head>
	<title>HyTech Telemetry CSV Uploader</title>
 	<style>
		body { max-width: 50rem; margin: 3rem auto; }
 		h1 { text-align: center; }
		form { display: flex; flex-direction: column; }
		form div { display: flex; flex-direction: row; margin-top: 1rem; }
		label, input { flex: 1; }
		#txt { margin-top: 1rem; text-align: center }
	</style>
</head>
<body>
  	<h1>HyTech Telemetry CSV Uploader</h1>
  	<form method="POST" enctype="multipart/form-data" action="/upload" onsubmit="let el = document.getElementById('submit'); el.parentNode.removeChild(el); document.getElementById('txt').innerText = 'Uploading. Keep your pants on, this takes a while because your file is thicc.'">
   		<div>
			<label>Upload CSV</label>
			<input required type="file" name="csv" accept=".csv" />
		</div>
		<div>
			<label>Database name</label>
			<input required type="text" name="db_name" />
		</div>
		<div>
			<input type="Submit" value="Upload" id="submit"/>
		</div>
  	</form>
  	<div id="txt" />
	<script>
		let err = (new URLSearchParams(window.location.search)).get('err');
		if (err) document.getElementById('txt').innerText = "You need a real database name shithead"
	</script>
</body>
</html>

